* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  size: 10;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.title,
.sub__title {
  text-align: center;
}

.title {
  font-size: 2.3rem;
  line-height: 3rem;
}

.sub__title {
  font-size: 1.2rem;
}

.board {
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--size), 50px);
  grid-template-rows: repeat(var(--size), 50px);
  gap: 4px;
  background-color: #777;
}

.board > * {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid #bbb;
  user-select: none;
}

.board > [data-status="hidden"] {
  background-color: #bbb;
  cursor: pointer;
}

.board > [data-status="mine"] {
  background-color: red;
}

.board > [data-status="number"] {
  background-color: none;
}
.board > [data-status="marked"] {
  background-color: yellow;
}
